* {
    background-color: antiquewhite;
}

.heading {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


.ulTag {
    display: flex;
    justify-content: space-between;
}

.listItem {
    background-color: rgb(189, 212, 167);
    text-align: center;
    width: 100px;
    height: 100px;


    margin: 20px;

}

.span {
    margin-left: 700px;
    background-color: rgb(251, 202, 137);
}